    <mat-paginator #paginatorTop [length]="dataLength"
                   [pageSize]="defaultPageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   aria-label="Select page"
                   (page)="handlePageEvent($event)">
    </mat-paginator>
    <div class="game-list-container">
        <div *ngFor="let game of games | async">
            <app-game-card [game]="game"
                           [otherTexts]="getCardTexts(game)"
                           [buttonText]="actionText.edit"
                           (buttonClick)="navigateToEdit(game)"
                           [extraButtonText]="actionText.calculation"
                           (extraButtonClick)="startResultProcessing(game)"
            ></app-game-card>
        </div>
    </div>
    <div>
        <button mat-fab color="primary" (click)="navigateToNewGame()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-paginator #paginatorBottom [length]="dataLength"
                   [pageSize]="defaultPageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   [hidePageSize]="true"
                   aria-label="Select page"
                   (page)="handlePageEvent($event)"
    class="bottomPager"
    >
    </mat-paginator>
