:host{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 70%;
  width: max-content;
  div{
    width: 100%;
    height: max-content;
  }
}