:host {
  display: block;
  margin-top: 1em;
  height: 6em;
  width: 20em;
}

.scale-whole {
  width: 100%;
  height: 0.3em;
  position: relative;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;

}

.scale-group {
  height: 100%;
  background-color:#C3ACD0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 80%;
  text-align: right;
  cursor: pointer;

}

.scale-own {
  height: 100%;
  background-color:  #ffa33c;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 60%;
  border-radius: 5px 0 0 5px;
  text-align: right;
  cursor: pointer;
}

.chip-own, .chip-group {
  position: relative;
  z-index: 4;
  top: 1.2em;
  display: inline-block;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  padding: 0.2em;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.8em;
}
.chip-own{
  left: calc(60% - 0.9em);
  background: #ffa33c;
}
.chip-group {
  left: calc(80% - 3.6em);
  background: #C3ACD0;
}

