<div class="group-tree-container">
    <h3>{{text.group_tree_title}}</h3>

    <mat-progress-bar *ngIf="dataLoading" mode="indeterminate"></mat-progress-bar>

    <mat-tree [dataSource]="treeData" [treeControl]="treeControl">
        <!-- Leaf node -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button *ngFor="let i of iterablesForLevel(node.level)" mat-icon-button disabled></button>
            <button mat-icon-button disabled></button>
            <span class="group-name  {{selectedNodeId === node.id ? 'selected' : ''}}"
                  matTooltip="{{text.select_group_tooltip}}" (click)="selectGroup(node.id)"
                  matTooltipPosition="after">
                {{ node.name }}
            </span>
        </mat-tree-node>

        <!-- Expandable node -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when hasChild">
            <div class="flex align-items-center">
                <button *ngFor="let i of iterablesForLevel(node.level)" mat-icon-button disabled></button>
                <button mat-icon-button matTreeNodeToggle
                        (click)="expandNode(node)"
                        [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                    </mat-icon>
                </button>
                <span  class="group-name {{selectedNodeId === node.id ? 'selected' : ''}}"
                       (click)="selectGroup(node.id)"
                       matTooltip="{{text.select_group_tooltip}}" matTooltipPosition="after">
                    {{ node.name }}
                </span>
                <mat-progress-bar
                        *ngIf="node.loading"
                        mode="indeterminate">
                </mat-progress-bar>
            </div>
            <div [class.tree-invisible]="!treeControl.isExpanded(node)"
                 *ngIf="treeControl.isExpanded(node)"
                 role="group">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </mat-nested-tree-node>
    </mat-tree>

    <div *ngIf="treeData.length === 0 && !dataLoading" class="no-data">
        No organizations or groups found.
    </div>
</div>
