<div class="mx-8">
    <h1 class="mb-0">Privacy Policy</h1>
    <h3 class="mb-6">Coglica Application</h3>

    <h4>Introduction</h4>
    <p>This Privacy Policy governs the manner in which the Publisher collects, uses, maintains and discloses
    information collected from users in the Coglica Application (later: the Application). Please read our
    privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle
        your Personally Identifiable Information in accordance with our website.</p>

    <p>The application is a companion application for “MTA-AVKF Tanulási Környezet Kutatócsoport” and it is
        used to involve people in the research.</p>

    <h4>What personal information do we collect in the app?</h4>
    <p>In order to use the application, users must authenticate themselves with an email address and their
        name. Providing your real name is not mandatory and is never checked.</p>

    <p>The application estimates the registered user's partial abilities based on their performance in the
    game-based tests, using ability models applied in research to generate cognitive profiles from different
    perspectives. These estimates are not necessarily accurate, as the primary goal of the application is to
        develop new cognitive ability models.</p>

    <h4>How is the personal information used?</h4>
    <p>The data collected by the application is used by the research team members to support studies aimed
    at enhancing the learning experience through statistical analysis, machine learning, or other methods.
    The estimated cognitive ability profiles can be organized into groups (e.g., schools, classes) to create
    various aggregates. Researchers never share personal data with third parties without your permission.</p>

    <h4>What other anonymous information are collected?</h4>
    <p>We use Google Analytics in the application to anonymously understand how users use the application
    and to improve it in the future.</p>

    <h4>How do we protect visitor information?</h4>
    <p>Our backend is scanned on a regular basis for security holes and known vulnerabilities in order to keep
    it as safe as possible.</p>
    <p>We use regular Malware Scanning.</p>
    <p>The backend of the system does not collect any personal information from the end users.</p>

    <h4>Third Party Disclosure</h4>
    <p>We do not sell, trade, or otherwise transfer to outside parties any personal information unless we
    provide you with advance notice.</p>
    <p>Non-personally identifiable visitor information may be provided to other parties for marketing,
    advertising, or other uses.</p>

    <h4>Your acceptance of these terms</h4>
    <p>By using this Application, you signify your acceptance of this policy. If you do not agree to this policy,
    please do not use our Application. Your continued use of the Application following the posting of
    changes to this policy will be deemed your acceptance of those changes.</p>

    <h4>Contact</h4>
    <p>If you have any questions about this Privacy Policy, the practices of this Application, or your dealings
    with this Application, please contact us at: mta.avkf.tkm2@gmail.com</p>
    <p>This information is subject to change without notice.</p>
    <p>This document was last updated on Feb. 17, 2025</p>
</div>
