.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 1.5em;
}
div.menubar{
  display: flex;
  flex-direction: row;
  align-items: center;
}
button{
  font-size: larger;
  font-weight: normal;
  font-family: "Poetsen One", cursive;
}
.logo{
  display: flex;
  align-items: center;
}
a{
  display: block;
  margin-right: 1.5em;
  height: 2em;
  font-size: medium;
  font-weight: normal;
}