.profile-data-container {
  display: flex;
  flex-direction: row;
}

mat-card {
  height: 100%;
}

.data-holder {
  display: flex;
  align-items: center;

  mat-chip {
    margin-left: 2em;
    padding-inline: 0.5em;
    background-color: #C3ACD0;
  }
}

.info {
  cursor: pointer;
  border: 1px solid dimgrey;
  border-radius: 100%;
  width: 1.2em;
  height: 1em;
  text-align: center;
  font-size: 0.7em;
  padding-bottom: 0.2em;
  margin-left: 0.5em;
}

#ability-description {
  color: dimgrey;
  font-size: medium;
  word-break: break-all;
  overflow-wrap: break-word;
}

//@keyframes mission-animation {
//  0% {
//    transform: translateY(0%) translateX(0%);
//  }
//  100%{
//    transform: translateY(10%) translateX(10%);
//  }
//}
//.mission-image{
//  width: 10em;
//  height: 10em;
//  img{
//    animation: mission-animation 3s ease-in;
//  }
//}