<mat-card *ngIf="hasData">
    <mat-card-header>
        <mat-card-title>{{ text.current_profile }}</mat-card-title>
        <mat-card-subtitle>{{ text.current_profile_description }} {{ currentDisplayDate() }}</mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content class="profile-data-container">
        <div class="left-side">
            <div *ngFor="let item of profileData">
                <div class="data-holder">
                    <p>{{ item.ability.name }}</p>
                    <div class="info" matTooltip="{{item.ability.description}}">
                        i</div>
                    <mat-chip>{{ item.value }}</mat-chip>
                </div>
                <small>{{ text.ability_value_accuracy }} {{ item.accuracy / 100 | percent }}</small>
                <mat-divider class="mt-2"></mat-divider>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div *ngIf="!hasData">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ text.no_profile_data_message }}</mat-card-title>
            <mat-card-subtitle>{{ text.no_profile_data_action }}</mat-card-subtitle>
        </mat-card-header>
        <!--        <div class="mission-image">-->
        <!--            <img src="../../../assets/logos/mission.png">-->
        <!--        </div>-->
    </mat-card>

</div>