<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Bejelentkezés</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Lépj be!</h1>
    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Helytelen felhasználónév vagy jelszó!
    </div>
</div>

<div class="container w-50">
    <div class="row justify-content-center mt-2">
        <div class="col-md-6">
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Felhasználónév">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Jelszó">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Bejelentkezés</button>
                </div>
                <a type="button" class="btn btn-link" th:href="@{/register}">
                    Regisztráció
                </a>
            </form>

        </div>

    </div>

</div>
</body>
</html>