<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/styles/main-style.css}" rel="stylesheet"/>
    <title>Bejelentkezés</title>
</head>
<body class="spaceBackground d-flex flex-column justify-content-center align-items-center">
<div class="container-sm mt-5">
    <h1 class="text-center">Bejelentkezés</h1>
    <br>
    <div class="alert alert-danger text-center w-75 mx-auto" role="alert" th:if="${param.error}">
        Helytelen felhasználónév vagy jelszó!
    </div>
</div>

<div class="mt-2 container-md">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-6">
            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Felhasználónév</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Írd be a felhasználóneved">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Jelszó</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Add meg a jelszavad">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark w-75 mx-auto">Bejelentkezés</button>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <p><a type="button" class="link-light mt-2" th:href="@{/register}">
            Regisztráció
        </a></p>
    </div>
</div>


</body>
</html>