<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Sikeres regisztráció</title>
</head>
<body>
<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="alert alert-success text-center p-4" role="alert">
        <h4 class="alert-heading f-1 m-2">Sikeres regisztráció!</h4>
        <p>Sikeresen regisztráltál.</p>
        <p>Most már bejelentkezhetsz a felhasználóneveddel és jelszavaddal.</p>
    </div>
</div>
</body>
</html>

