<div *ngIf="canImpersonate" class="welcome-container">
  <h2>Üdv {{user?.lastName}}!</h2>
  <p>{{text.message}}</p>
  <div class="contact-container">
    <div *ngFor="let user of contacts | async" >
      <button mat-stroked-button color="primary" (click)="signInAs(user.username)" class="imperson-button">
        {{user.firstName}} {{user.lastName}}
      </button>
    </div>
  </div>
  <button mat-flat-button color="primary" class="remain-button" (click)="disableImpersonation()">
    {{text.cancel}}
  </button>
</div>


