:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: max-content;
  min-width: 60%;

}

#active {
  margin-bottom: 1em;
}

#file-upload {
  margin-bottom: 2em;
}

#config {
  margin-block: 1em;
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;

    #config-value {
      flex-grow: 2;
    }

    #config-key {
      flex-grow: 1;
      margin-right: 1em;
    }
  }
}

.add-button {
  align-self: center;
}

#actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2em;
  margin-bottom: 5em;
}

.submit-button {
  min-width: 20%;
  margin-inline: 2em;
}

