:host {
  width: 100%;
  padding-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.cardsContainer {
  min-width: 50%;
}
.pagerRow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.toolsContainer{
  margin-left: 2em;

}