.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 1.5em;
}
.page-content{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
