<mat-tab-group *ngIf="!loading">
    <mat-tab label="{{text.menu.games_for_you}}">
        <div class="games-container">
            <div *ngFor="let recommendedGame of gamesForYou | async">
                <app-game-card
                        [game]="recommendedGame.game"
                        [otherTexts]="[recommendedGame.recommendationDate.toLocaleString('hu-HU')]"
                        [buttonText]="text.game_card.play.toUpperCase()"
                        (buttonClick)="onGameChosen(recommendedGame)">
                </app-game-card>
                <br>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{text.menu.teacher_recommendation}}">
       <div class="error-title">
           <h3>{{text.error.empty_content}}</h3>
       </div>
    </mat-tab>
    <mat-tab label="{{text.menu.scientist_recommendation}}">
        <div class="error-title">
            <h3>{{text.error.empty_content}}</h3>
        </div>
    </mat-tab>
</mat-tab-group>
<mat-progress-bar  *ngIf="loading" mode="indeterminate"></mat-progress-bar>