:host{
  width: 100%;
}
mat-card-content:first-child {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
img{
  width: 30%;
  height: 80%;
  object-fit: cover;
  align-self: flex-start;
}
.content{
  padding-top: 1em;
  padding-inline: 1.6em;
  width: 100%;
}
button{
  margin-inline: 0.5em;
}
.text{
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: min-content;
}
.inactiveGameCard{
    background-color: #f5f5f5;
    opacity: 0.6;
}
