<form [formGroup]="profileQueryForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field class="drop-down-container">
        <mat-label>{{text.group_selection}}</mat-label>
        <mat-select formControlName="groupId">
            <mat-option *ngFor="let group of groups | async" [value]="group.id">{{ group.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="profileQueryForm.controls.groupId.invalid">
            {{text.error_group_required}}
        </mat-error>
    </mat-form-field>

    <mat-radio-group formControlName="calculationType" class="radio-container">
        <mat-label class="title">{{text.comparison_type}}</mat-label>
        <p class="description">{{text.comparison_type_description}}</p>
        <mat-radio-button [value]="calculationTypeOptions[0]" >{{text.avg}}</mat-radio-button>
        <mat-radio-button [value]="calculationTypeOptions[1]" >{{text.min}}</mat-radio-button>
        <mat-radio-button [value]="calculationTypeOptions[2]" >{{text.max}}</mat-radio-button>
        <mat-error *ngIf="profileQueryForm.controls.calculationType.invalid">
            {{text.error_type_required}}
        </mat-error>
    </mat-radio-group>

    <button mat-flat-button type="submit" [disabled]="profileQueryForm.invalid" >{{text.submit}}</button>
</form>



<div  class="chart">
    <app-profile-radar-chart
            [profileDataObservable]="userProfileData"
            [comparisonDataObservable]="dataToCompare"
            [comparisonTitle]="comparisonTitle"
    ></app-profile-radar-chart>
</div>


