:host{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
}
.form-container{
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 1em;
  margin-bottom: 2em;
  align-items: center;
  button{
    display: block;
    width: max-content;
    background-color: #C3ACD0;
  }
}
.drop-down-container{
  flex-grow: 0;
  display: block;
  width: 20em;
  margin-bottom: 2em;
}
.radio-container{
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 1em;
}

.title{
  font-size: larger;
}
.description{
  font-size: medium;
  color: dimgrey;
}
.chart{
  width: 50%;
}