<div class="mb-4">
    <h4>{{ text.choose_contact }}</h4>
    <p>{{ text.choose_contact_description }}</p>
    <app-user-autocomplete (userSelected)="onUserSelected($event)" [multiple]="false"
                           [searchOnlyContacts]="true" [autoChoose]="true"></app-user-autocomplete>
</div>
<mat-card>
    <mat-card-title>
        <h2 *ngIf="selectedUser"
            class="mx-4 mb-0">{{ selectedUser.firstName + ' ' + selectedUser.lastName + ' ' + text.title_user }}</h2>
        <h2 *ngIf="!selectedUser" class="mx-4 mb-0">{{ text.title_edit }}</h2>
        <p class="description mx-4 line-height-2">
            {{ text.description_edit }}
        </p>
    </mat-card-title>
    <mat-card-content class="flex justify-content-between">
        <form [formGroup]="floatProfileForm" class="w-6">
            <h3>{{ text.float_profile_form }}</h3>
            <p>{{ text.float_profile_form_description }}</p>
            <div formArrayName="items" class="mt-2 mr-2">
                <div *ngFor="let profile of floatProfileFormItems.controls; let i = index" [formGroupName]="i">
                    <p class="text-lg mb-3 ml-2">{{ profile.value.ability }}</p>
                    <div>
                        <mat-form-field>
                            <mat-label>{{ text.value }}</mat-label>
                            <input matInput type="number" formControlName="value">
                        </mat-form-field>
                        <mat-form-field class="ml-2">
                            <mat-label>{{ text.accuracy }}</mat-label>
                            <input matInput type="number" formControlName="accuracy" min="0" max="1">
                            <mat-error *ngIf="profile.get('accuracy')?.invalid">{{text.accuracy_validation_error}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>

        <form [formGroup]="enumProfileForm">
            <h3>{{ text.enum_profile_form }}</h3>
            <p>{{ text.enum_profile_form_description }}</p>
            <div formArrayName="items" class="mt-2 mr-2">
                <div *ngFor="let profile of enumProfileFormItems.controls; let i = index" [formGroupName]="i">
                    <p class="text-lg mb-3 ml-2">{{ profile.value.ability }}</p>
                    <div>
                        <mat-form-field>
                            <mat-label>{{ text.value }}</mat-label>
                            <mat-select formControlName="value">
                                <mat-option value="UNKNOWN">{{ text.value_unknown }}</mat-option>
                                <mat-option value="YES">{{ text.value_yes }}</mat-option>
                                <mat-option value="NO">{{ text.value_no }}</mat-option>
                                <mat-option value="POSSIBLE">{{ text.value_possible }}</mat-option>
                                <mat-option value="INCLINED">{{ text.value_inclined }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="ml-2">
                            <mat-label>{{ text.accuracy }}</mat-label>
                            <input matInput type="number" formControlName="accuracy" min="0" max="1">
                            <mat-error *ngIf="profile.get('accuracy')?.invalid">{{text.accuracy_validation_error}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
    <mat-card-actions *ngIf="selectedUser">
        <button mat-raised-button color="primary" (click)="saveProfile()"
                [disabled]="!((enumProfileForm.dirty || floatProfileForm.dirty)  && floatProfileForm.valid && enumProfileForm.valid)">
            Save
        </button>
    </mat-card-actions>
</mat-card>

