  <button mat-flat-button color="primary" *ngIf= "!isLoggedIn" (click) ="login()" type="submit">
    Login
  </button>
  <div *ngIf= "isLoggedIn" class="user-container" >
    <p class="user-name">{{user?.firstName}} {{user?.lastName}}</p>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>manage_accounts</mat-icon>
        <span>View Profile</span>
      </button>
      <button mat-menu-item (click) ="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
      <button mat-menu-item (click) ="gameToken()">
        <mat-icon>sports_esports</mat-icon>
        <span>Get Game Token</span>
      </button>
    </mat-menu>
    <br/>
  </div>
