:host{
  width: 100%;
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
div{
  margin: 2em;
  flex-grow: 1;
}
.profile-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 3em;
  padding-bottom: 4em;
  margin-right: 3em;
  p{
    color: dimgrey;
    margin-bottom: 2em;
  }
  button{
    margin-top: 2em;
    background-color: #C3ACD0;
  }
}

#chart{
  padding-top: 2em;
  padding-bottom: 7em;
}
#card{
  width: 50%;
}
