<h3>{{text.title}}</h3>
<p>{{text.description}}</p>
<form [formGroup]="userFilterForm">
    <div class="flex justify-content-evenly w-full">
        <div class="mr-3">
            <h4>{{ text.group }}</h4>
            <mat-form-field>
                <mat-label>{{ text.group_selection }}</mat-label>
                <mat-select formControlName="userGroupId">
                    <mat-option *ngFor="let group of availableGroups | async" [value]="group.id">{{ group.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="flex flex-column">
            <h4>{{ text.address }}</h4>
            <mat-form-field>
                <input formControlName="addressCity" matInput>
                <mat-label>{{ text.address_city }}</mat-label>
            </mat-form-field>
            <mat-form-field>
                <input formControlName="addressZip" matInput type="number">
                <mat-label>{{ text.address_zip }}</mat-label>
            </mat-form-field>
        </div>
        <div class="ml-3 w-3">
            <h4>{{ text.age }}</h4>
            <mat-slider min="{{ageMin}}" max="{{ageMax}}" [discrete]="true" step="1" class="w-10">
                <input formControlName="ageMin" matSliderStartThumb>
                <input formControlName="ageMax" matSliderEndThumb>
            </mat-slider>
        </div>
    </div>
    <h4>{{text.ability}}</h4>
    <div class="flex w-12">
        <div class="w-max mr-3">
            <div *ngFor="let ability of availableAbilities | async"
                 class="flex align-items-center justify-content-between">
                <p class="mr-3">{{ ability.name }}</p>
                <button *ngIf="!isAbilityInForm(ability)" mat-mini-fab (click)="addAbilityFilter(ability)"
                        color="primary">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="w-max">
            <div *ngFor="let abilityFilterControl of userFilterForm.controls.abilityFilter.controls; index as i"
                 [formGroup]="getAbilityFilterGroup(abilityFilterControl)"
                 class="flex align-items-center w-full justify-content-between"
            >
                <mat-label class="mr-3">{{ getAbilityNameOfControl(abilityFilterControl) }}</mat-label>
                <mat-slider min="{{abilityValueMin}}" max="{{abilityValueMax}}" [discrete]="true" step="0.05"
                            class="w-8">
                    <input formControlName="valueMin" matSliderStartThumb>
                    <input formControlName="valueMax" matSliderEndThumb>
                </mat-slider>
                <button mat-icon-button (click)="removeAbilityFilter(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</form>
<div class="flex w-full justify-content-end">
    <button mat-flat-button (click)="applyFilters()" color="primary">{{ text.submit }}</button>
</div>
