<div class="flex w-full justify-content-start mx-5">
    <div>
        <h4>{{ text.user_picker.choose_contact }}</h4>
        <p>{{ text.user_picker.choose_contact_description }}</p>
        <app-user-autocomplete (userSelected)="userSelected($event)" [multiple]="false"
                               [searchOnlyContacts]="true" [autoChoose]="true"></app-user-autocomplete>
    </div>
</div>
<mat-divider></mat-divider>
<h2 *ngIf="name" class="mx-4 mb-0">{{name +' '+ text.title_user}}</h2>
<div class="flex flex-wrap m-4 align-items-start" *ngIf="chosenUsername">
    <div class="lg:w-4 sm:w-6">
        <app-profile-card *ngIf="!loadingProfile" [profileData]="currProfileData!!" id="card"></app-profile-card>
    </div>
    <mat-progress-bar *ngIf="loadingProfile" mode="buffer"></mat-progress-bar>
    <div class="flex w-7 align-items-start flex-column ml-6">

        <div *ngIf="chosenUsername" class="mb-8">
            <div class="mx-0 flex align-items-center">
                <h3 class="ml-0 mr-4 px-0">{{ text.title_xp }}</h3>
                <app-count-up [target]="xp" class="xpPoints"/>
            </div>

            <!-- LLM description -->
            <app-long-wait-loading *ngIf="loadingDescription"/>
            <h2 class="text-left" *ngIf="profileDescription">{{text.llm.llm_text}}</h2>
            <p class="description my-3" [innerHTML]="profileDescription?.generatedText"></p>

            <!-- LLM prompt -->
            <mat-accordion *ngIf="UserInfo.canSeePromptLlm()" class="my-8">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>{{text.llm.prompt}}</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                            <p class="description">{{text.llm.used_prompt}}</p>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="description">{{profileDescription?.prompt}}</p>

                    <h3>{{text.llm.prompt_description}}</h3>
                    <mat-form-field *ngIf="UserInfo.canSeePromptLlm()" class="w-full">
                        <mat-label>{{text.llm.prompt}}</mat-label>
                        <textarea matInput [(ngModel)]="prompt"></textarea>
                    </mat-form-field>
                    <button mat-button (click)="onSubmitPrompt()" color="primary">{{text.llm.prompt_action}}</button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <app-date-picker (dateChosen)="onDatesChosen($event)"></app-date-picker>
    </div>
</div>

<mat-divider></mat-divider>

<app-up-and-down-button elementId="chart"></app-up-and-down-button>
<div id="chart">
    <div *ngIf="chosenUsername">
        <app-profile-chart *ngIf="!loadingHistory" [profileDataObservable]="profileHistoryData"></app-profile-chart>
        <mat-progress-bar *ngIf="loadingHistory" mode="buffer"></mat-progress-bar>
    </div>
</div>

