.passed{
    background: #C6EBC5;
    width: 100%;
}
.failed{
    background: #F5DAD2;
    width: 100%;
}
.infoIcon{
    margin-inline: 1em;
    display: flex;
}
:host{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-inline: 1em;
}