<header>
    <h1 id="header">Játék gyűjtemény</h1>
</header>

<mat-card *ngIf="!gameChosen">
    <mat-card-header>
        <mat-card-title>{{text.error.title}}</mat-card-title>
        <mat-card-subtitle>{{text.error.explanation}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
        <button mat-button color="primary" routerLink="/games">{{text.error.action}}</button>
    </mat-card-actions>
</mat-card>
<main>
    <div id="game-container" style="position: relative;">
        <!-- Phaser games will be initialized here -->
        <button id="fullscreen-btn" title="Teljes képernyő"><i class="fas fa-expand"></i></button>
    </div>
</main>
<footer>
    <p></p>
</footer>
