<mat-tab-group>
    <mat-tab label="{{text.menu.teacher_recommendation}}">
        Content 1
    </mat-tab>
    <mat-tab label="{{text.menu.scientist_recommendation}}">
        Content 2
    </mat-tab>
    <mat-tab label="{{text.menu.games_for_you}}">
        <div class="games-container">
            <div>
                <mat-card *ngFor="let game of gamesForYou | async">
                    <mat-card-content>
                        <img src="{{game.thumbnail}}">
                        <div>
                            <mat-card-title>{{game.name}}</mat-card-title>
                            <p>{{game.description}}</p>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions align="end">
                        <button mat-button color="primary">{{text.game_card.play.toUpperCase()}}</button>
                    </mat-card-actions>
                </mat-card>
                <br>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{text.menu.all_games}}">
        Content 3
    </mat-tab>
</mat-tab-group>
