<div>
    <h1>{{ texts.title }}</h1>
    <h2 class="title">{{ texts.subtitle }}</h2>
    <div class="topContainer">
        <div>
            <app-user-search (onContactSelected)="onUserSelected($event)" [showOnlyContacts]="true" [text]="texts.user_autocomplete"/>
            <app-game-search (onGameSelected)="onGameSelected($event)"/>

        </div>
        <div class="chosenContainer">
            <div>
                <h3 class="title">{{ texts.chosenUser }}:</h3>
                <h3 class="title">{{ texts.chosenGame }}:</h3>
            </div>
            <div class="chipContainer">
                <mat-chip *ngIf="chosenUser">{{ chosenUser.firstName }} {{ chosenUser.lastName }}</mat-chip>
                <mat-chip *ngIf="!chosenUser">?</mat-chip>
                <mat-chip *ngIf="chosenGame">{{ chosenGame.name }}</mat-chip>
                <mat-chip *ngIf="!chosenGame">?</mat-chip>
            </div>

        </div>
    </div>
    <mat-divider/>
    <div class="configContainer">
        <div *ngFor="let configControl of configForm.controls; let i = index" class="configFormItem">
            <h3>{{ labelOfControl(configControl) }}</h3>
            <p>{{ descriptionOfControl(configControl) }}</p>
            <form>
                <mat-form-field>
                    <mat-label>{{ labelOfControl(configControl) }}</mat-label>
                    <input matInput [formControl]="getSettingControl(configControl)"
                           [value]="configControl.value?.value">
                    <mat-hint>{{ getHint(configControl) }}</mat-hint>
                    <mat-error *ngIf="configControl.errors?.['invalidConfigValue'] && configControl.touched && configControl.dirty" class="error">
                        {{ texts.error.invalid_param }}
                    </mat-error>
                </mat-form-field>
            </form>
        </div>

    </div>
    <div class="submitButton">
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!canSaveRecommendation()">
            {{ texts.submit }}
        </button>
    </div>

</div>