<div *ngFor="let contact of contacts | async " class="page-content">
    <div *ngIf="contact !== userToEdit" class="user-data-container">
        <div class="user-data-container">
            <div class="name">
                <button mat-button class="name" (click)="setUserToEdit(contact)">{{contact.firstName}} {{contact.lastName}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="contact === userToEdit">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{contact.firstName}} {{contact.lastName}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{text.user_data.already_recommended}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let game of games | async" class="user-data-container">
                        <div *ngIf="game !== recommendedGameToEdit" class="user-data-container">
                            <div class="user-data-container">
                                <div class="name">
                                    <div class="name">
                                        <button mat-button class="name" (click)="setRecommendedGameToEdit(game)">{{game.game.name}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="game === recommendedGameToEdit">
                            <form [formGroup]="recommendedGameDataForm">
                                <mat-expansion-panel class="name" [expanded]="true">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>{{text.rec_game_data.name}} {{game.game.name}}</mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-panel-description>{{text.rec_game_data.time}} {{recommendedGameDataForm.getRawValue().timestamp}}</mat-panel-description>
                                    <mat-panel-description>{{text.rec_game_data.completed}} {{recommendedGameDataForm.getRawValue().completed}}</mat-panel-description>
                                    <mat-panel-description>{{text.rec_game_data.config}} {{recommendedGameDataForm.getRawValue().config}}</mat-panel-description>
                                    <button matSuffix mat-flat-button aria-label="Submit" type="button" (click)="deleteRecommendedGame(game, contact)" color="primary">
                                        {{text.actions.remove}}
                                    </button>
                                </mat-expansion-panel>
                            </form>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{text.user_data.not_yet_recommended}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngFor="let game of gamesToRecommend | async" class="user-data-container">
                        <div *ngIf="game !== notYetRecommendedGameToEdit" class="user-data-container">
                            <div class="user-data-container">
                                <div class="name">
                                    <div class="name">
                                        <button mat-button class="name" (click)="setNotYetRecommendedGameToEdit(game)">{{game.name}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="game === notYetRecommendedGameToEdit">
                            <form [formGroup]="notYetRecommendedGameDataForm" (ngSubmit)="(saveRecommendedGame(game, contact))">
                                <div class="user-data-form">
                                    <mat-panel-description>{{text.rec_game_data.name}} {{game.name}}</mat-panel-description>
                                    <mat-form-field>
                                        <mat-label>{{"Szint"}}</mat-label>
                                        <input matInput formControlName="config" required>
                                    </mat-form-field>
                                    <button matSuffix mat-flat-button aria-label="Submit" type="button" (click)="saveRecommendedGame(game, contact)" color="primary">
                                        {{text.actions.recommend_game}}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-expansion-panel>
            </form>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
    </div>
</div>