<mat-toolbar class="navbar">
    <div class="flex">
        <button *ngIf="loginStatus && displayMobileMenu()" mat-icon-button [matMenuTriggerFor]="menu"
                color="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <button *ngIf="loginStatus && !displayMobileMenu()" mat-icon-button (click)="changeDrawerState()"
                color="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="logo ml-4">
            <img src="{{imagePaths.logo}}" routerLink="/">
            <button mat-button routerLink="/">Coglica</button>
        </div>
    </div>
    <mat-menu #menu="matMenu" class="w-12">
        <div *ngIf="displayMobileMenu()">
            <button mat-menu-item *ngIf="hasAccessToOwnCognitiveProfile()" routerLink="/cognitive-profile">
                <mat-icon>psychology</mat-icon>
                <span>{{ text.cognitive_profile }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToUserManagement()" routerLink="/admin">
                <mat-icon>manage_accounts</mat-icon>
                <span>{{ text.user_management }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToUserRegistration()" routerLink="/register-user">
                <mat-icon>person_add</mat-icon>
                <span>{{ text.user_registration }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToUserManagement()" routerLink="/ability"
                    [routerLinkActive]="['activeLink']">
                <mat-icon>saved_search</mat-icon>
                <span>{{ text.ability_management }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToGroupManagement()" routerLink="/group-management">
                <mat-icon>group</mat-icon>
                <span>{{ text.group_management }}</span>
            </button>
            <button mat-menu-item *ngIf="loginStatus" routerLink="/result">
                <mat-icon>fact_check</mat-icon>
                <span>{{ text.result_management }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToOwnCognitiveProfileCompare()" routerLink="/profile-compare">
                <mat-icon>analytics</mat-icon>
                <span>{{ text.own_profile_comparison }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToAdminCognitiveProfileCompare()"
                    routerLink="/profile-compare-admin">
                <mat-icon>query_stats</mat-icon>
                <span>{{ text.profile_comparison }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToGameManagement()" routerLink="/game-management">
                <mat-icon>sports_esports</mat-icon>
                <span>{{ text.game_management }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToGames()" routerLink="/games">
                <mat-icon>sports_esports</mat-icon>
                <span>{{ text.games }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToRecommendations()" routerLink="/recommendation">
                <mat-icon>reviews</mat-icon>
                <span>{{ text.game_recommendation }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToAdminCognitiveProfile()" routerLink="/cognitive-profile-admin">
                <mat-icon>psychology</mat-icon>
                <span>{{ text.cognitive_profile }}</span>
            </button>
            <button mat-menu-item *ngIf="hasAccessToCognitiveProfileEdit()" routerLink="/cognitive-profile-edit">
                <mat-icon>tune</mat-icon>
                <span>{{ text.cognitive_profile_edit }}</span>
            </button>
            <button mat-menu-item routerLink="/delete-account">
                <mat-icon color="warn">close</mat-icon>
                <span>{{ text.delete_account }}</span>
            </button>
        </div>

    </mat-menu>
    <div class="flex align-items-center">
        <app-impersonation-header class="mr-3"></app-impersonation-header>
        <app-login></app-login>
    </div>
</mat-toolbar>


